<mat-toolbar>
  <button mat-stroked-button
          type="button"
          aria-label="auth toggle"
          *ngIf="!auth.isAuthorized"
          [routerLink]="['/auth']">
    Login in
  </button>
  <button mat-stroked-button
          type="button"
          aria-label="auth toggle"
          *ngIf="auth.isAuthorized"
          (click)="auth.setLogOut()"
          [routerLink]="['/auth']"
          >
    Login out
  </button>
</mat-toolbar>
<div class="main">
  <router-outlet></router-outlet>
</div>
